{% extends 'base.html' %}

{% block content %}
    <h1>Chat friends</h1>
    <div class="row">
        {% for request_from_current_user in requests_from_current_user %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <a href="/chatapp/profiles/{{ request_from_current_user.target.id }}">
                        <img src="{{ request_from_current_user.target.image.url }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="/chatapp/profiles/{{ request_from_current_user.target.id }}">
                            <h5 class="card-title">{{ request_from_current_user.target.fullname }}</h5>
                        </a>
                        <a href="/chatapp/profiles/{{ request_from_current_user.target.id }}" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for request_to_current_user in requests_to_current_user %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <a href="/chatapp/profiles/{{ request_to_current_user.source.id }}">
                        <img src="{{ request_to_current_user.source.image.url }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="/chatapp/profiles/{{ request_to_current_user.source.id }}">
                            <h5 class="card-title">{{ request_to_current_user.source.fullname }}</h5>
                        </a>
                        <a href="/chatapp/profiles/{{ request_to_current_user.source.id }}" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}