{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <style>
        .card{
            text_align : center
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Chat Requests</h1>
    <div class="row">
        {% for chat_request in chat_requests %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ chat_request.source.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ chat_request.source.fullname }}</h5>
                        <a href="/chatapp/accept_chat_request/{{ chat_request.id }}" class="btn btn-primary">Accept</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}