{% extends 'base.html' %}

{% block title %}
    <style>
        .center {
            text-align: center;
            padding: 70px 0;
            color: blue;
        }
        body {
            background-color: #E6E6FA;
        }
         #center {
            text-align: center;
         }
    </style>
{% endblock %}

{% block content %}
    <h2 class="center">WELCOME {% if user.is_authenticated %}{{ user.username }} {% endif %} TO</h2>
    <div id ="center">
        <img src="../../media/logo/varal-logo.jpg">
    </div>
    <h1 class="center">VARAL CHATAPP</h1>
{% endblock %}