{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <style>
        div.polaroid {
            width: 100%;
            background-color: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-bottom: 25px;
        }

        div.container {
            text-align: center;
            padding: 10px 20px;
        }
        table {
            border-collapse: separate;
            border-spacing: 90px 0;
        }
        td {
            vertical-align: top;
        }
        .scrollit {
            overflow:scroll;
            height:400px;
            text-align: left;
        }
        div.chats{
            text-align: right;
        }
        div.to_me_chats{
            text-align: left;
        }
    </style>
{% endblock %}
{% block content %}
    <table>
        <tr>
            <td>
                <div class="polaroid">
                    <img src="{{ profile.image.url }}" style="width:100%">
                    <div class="container">
                        {% if profile.fullname == None%}
                            <p>Fullname : {{ profile.user.username }}</p>
                        {% else %}
                            <p>Fullname : {{ profile.fullname }}</p>
                        {% endif %}
                        <p>Age : {{ profile.age }}</p>
                        <p>City : {{ profile.city }}</p>
                        <p>Country : {{ profile.country }}</p>
                    </div>
                    {% if request_exists %}
                        {% for from_current_user_chat_request in from_current_user_chat_requests%}
                            {% if from_current_user_chat_request.is_accepted %}
                                <a href="/chatapp/unfriend/{{ from_current_user_chat_request.id }}" class="btn btn-primary">Unfriend</a>

                            {% else %}
                                <button class="btn btn-primary">Request Sent</button>
                            {% endif %}
                        {% endfor %}
                        {% for to_current_user_chat_request in to_current_user_chat_requests%}
                            {% if to_current_user_chat_request.is_accepted %}
                                <a href="/chatapp/unfriend/{{ to_current_user_chat_request.id }}" class="btn btn-primary">Unfriend</a>

                            {% else %}
                                <a href="/chatapp/accept_chat_request/{{ to_current_user_chat_request.id }}" class="btn btn-primary">Accept Request</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <a href="/chatapp/create_chat_request/{{ profile.id }}" class="btn btn-primary">Send Request</a>
                    {% endif %}
                </div>
            </td>
            <td class="chats">

                    {% if request_exists %}

                        {% for all_current_user_chat_request in all_current_user_chat_requests %}

                            {% if all_current_user_chat_request.is_accepted %}

                                <div class="scrollit">

                                    {% for all_current_user_chat in all_current_user_chats %}

                                        {% if current_user.profile == all_current_user_chat.sender %}

                                            <div class="to_me_chats">
                                                <h6>Sender : Me</h6>
                                                <p>{{ all_current_user_chat.message }}</p>
                                            </div>

                                        {% else %}

                                            <div class="chats">
                                                {% if all_current_user_chat.sender.fullname == None %}
                                                    <h6>Sender : {{ all_current_user_chat.sender.user.username }}</h6>
                                                    <p>{{ all_current_user_chat.message }}</p>
                                                {% else %}
                                                    <h6>Sender : {{ all_current_user_chat.sender.fullname }}</h6>
                                                    <p>{{ all_current_user_chat.message }}</p>
                                                {% endif %}
                                            </div>

                                        {% endif %}

                                    {% endfor%}

                                </div>

                                <div class="typing_section">
                                    <form method="POST" class="form-group" action="/chatapp/create_chat/{{ profile.id }}">
                                        {% csrf_token %}
                                        <p>
                                            <textarea rows="2" cols="50" name="message"></textarea>
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </p>
                                    </form>
                                </div>

                            {% endif %}

                        {% endfor %}

                    {% endif %}



            </td>
        </tr>
    </table>


{% endblock %}

<!--{% if all_current_user_chat_request.is_accepted %}-->

<!--                            {% for all_current_user_chat in all_current_user_chats %}-->

<!--                                {% if current_user.profile == all_current_user_chat.sender %}-->
<!--                                    <div class="to_me_chats">-->
<!--                                        <h6>Sender : Me</h6>-->
<!--                                        <p>{{ all_current_user_chat.message }}</p>-->
<!--                                    </div>-->
<!--                                {% else %}-->
<!--                                    <div class="chats">-->
<!--                                        <h6>Sender : {{ all_current_user_chat.sender.fullname }}</h6>-->
<!--                                        <p>{{ all_current_user_chat.message }}</p>-->
<!--                                    </div>-->
<!--                                {% endif %}-->

<!--                            {% endfor %}-->

<!--                        {% endif %}-->