{% extends 'base.html' %}

{% block content %}
    <h1>Profiles</h1>
    <div class="row">
        {% for profile in profiles %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <a href="/chatapp/profiles/{{ profile.id }}">
                        <img src="{{ profile.image.url }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="/chatapp/profiles/{{ profile.id }}">
                            <h5 class="card-title">{{ profile.fullname }}</h5>
                        </a>
                        <a href="/chatapp/profiles/{{ profile.id }}" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}