<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% block title %}
    {% endblock %}
    <style>
        form {
            width: 50%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Varal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav nav-tabs">
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="/chatapp/my_profile">Hi, {{ user.username }}</a>
        </li>
        {% endif %}
        {% if user.is_staff%}
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin site</a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="/chatapp/profiles">Profiles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chatapp/chat_requests">Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/chatapp/chat_friends">Friends</a>
        </li>
    </ul>
      <ul class="nav justify-content-end nav-tabs">
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/chatapp/register">Register</a>
            </li>
          {% endif %}
      </ul>
  </div>
</nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>